# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime

df['datetime'] = [dt.date(int(d.split('-')[0]),int(d.split('-')[1]),int(d.split('-')[2]))for d in df['date']]

In [4]:
# Set the date column as the DataFrame index
df.set_index('datetime', inplace=True)

In [5]:
# Drop the date column
temp_data = df.drop(['date'],axis = 1)
temp_data.head()

                station  prcp  tobs
datetime
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [6]:
temp_data['month']=[i.strftime("%m") for i in temp_data.index]

### Compare June and December data across all years

In [7]:
from scipy import stats

In [8]:
# Filter data for desired months
june_temp_df = temp_data.loc[temp_data.month=="06"]
dec_temp_df = temp_data.loc[temp_data.month=="12"]

In [9]:
# Identify the average temperature for June
avg_june = june_temp_df['tobs'].mean()
avg_june

74.94411764705882

In [10]:
# Identify the average temperature for December
avg_dec = dec_temp_df['tobs'].mean()
avg_dec

71.04152933421226

In [11]:
# Create collections of temperature data
avg_june_temp = june_temp_df.groupby(june_temp_df.station)['tobs'].mean()
avg_dec_temp = dec_temp_df.groupby(dec_temp_df.station)['tobs'].mean()
print(avg_june_temp)
print(avg_dec_temp)

station
USC00511918    74.139394
USC00513117    74.050847
USC00514830    76.005376
USC00516128    71.937220
USC00517948    76.655405
USC00518838    73.394737
USC00519281    73.271186
USC00519397    77.559322
USC00519523    76.668103
Name: tobs, dtype: float64
station
USC00511918    69.684211
USC00513117    71.069444
USC00514830    73.224719
USC00516128    69.291262
USC00517948    71.834862
USC00518838    72.421053
USC00519281    69.903226
USC00519397    71.109524
USC00519523    72.433333
Name: tobs, dtype: float64

In [12]:
# Run paired t-test
stats.ttest_rel(avg_june_temp, avg_dec_temp)

Ttest_relResult(statistic=6.95696617044294, pvalue=0.00011759380231523222)

### Analysis

pvalue from t-test <0.05 indicating that there is statistically significant difference in the means.

The paired t-test should be used here as we are comparing the means of June temp vs. Dec temp from the same stations, the two groups are only separated by time.